/* DISCARD PILE */
#discard-pile:hover .card:nth-child(1) {
  transform: translate(-36%, 4%) rotate(-20deg);
}

#discard-pile:hover .card:nth-child(2) {
  transform: translate(-12%) rotate(-10deg);
}

#discard-pile:hover .card:nth-child(3) {
  transform: translate(12%) rotate(2deg);
}

#discard-pile:hover .card:nth-child(4) {
  transform: translate(40%, 4%) rotate(12deg);
}

.discarded-card {
  transition: transform 800ms cubic-bezier(.05,.43,.25,.95);
}

.card-in-hand {
  transition: transform 180ms cubic-bezier(.05,.43,.25,.95);
}

.card-in-hand:hover {
  transform: translate(0, -45px) scale(1.8);
  z-index: 100;
}