* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 1px solid black;
}

body {
  background-color: #838493;
  height: 100dvh;
  width: 100dvw;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

/* MAIN CONTAINERS */
#owl-container {
  height: calc(100% - 190px);
  display: flex;
}

/* IN THE OWL CONTAINER */
#menu-fight-container {
 width: calc(100% - 230px);
}

#enemy-stats-container {
  width: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ENEMY BARS */
#enemy-health-bar {
  width: 50px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.enemy-hp-segment {
  background-color: oklch(41.47% 0.155 25.41);
}