.hide {
  opacity: 0;
}

.attack {
  background-color: oklch(54.56% 0.185 22.76);
}

.card-name.attack,
.card-description.attack {
  background-color: oklch(54.85% 0.136 22.76);
}

.block {
  background-color: oklch(70% 0.165 128.65);
}

.card-name.block,
.card-description.block {
  background-color: oklch(69.26% 0.133 128.65);
}

.attack-energy {
  background-color: color-mix(in oklch, #c5303a, #e2d138);
}

.block-energy {
  background-color: color-mix(in oklch, #7fb12e, #e2d138 80%);
}

.border-stance {
  outline: 2px dashed oklch(55.59% 0.101 73.06);
}

.border-syncro {
  outline: 4px dotted oklch(55.59% 0.257 304.94);
}