.hide {
  opacity: 0;
}

.attack {
  background-color: var(--attack-card-background-color);
}

.card-name.attack,
.card-description.attack {
  background-color: var(--attack-card-description-color);
}

.attack-energy {
  background-color: var(--attack-card-energy-color);
}

.block {
  background-color: var(--block-card-background-color);
}

.card-name.block,
.card-description.block {
  background-color: var(--block-card-description-color);
}

.block-energy {
  background-color: var(--block-card-energy-color);
}

.border-stance {
  outline: 3px solid oklch(45% 0.239 279.53);
}

.border-syncro {
  outline: 3px solid oklch(45% 0.064 178.94);
}